server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          __path__: /var/lib/docker/containers/*/*-json.log

    pipeline_stages:
      - json:
          expressions:
            log: log
            stream: stream
            time: time
            tag: attrs.tag

      - regex:
          expression: '(?P<container_name>[^/]+)$'
          source: tag

      - labels:
          stream:
          container_name:

      - timestamp:
          source: time
          format: RFC3339Nano

      - output:
          source: log
